                    <nav
                        class="references-links"
                        aria-label="Site files"
                    >
                        <p class="links-label">Site files</p>
                        <a
                            class="reference-link"
                            href="humans.txt"
                            rel="author"
                            type="text/plain"
                            >humans.txt</a
                        >
                        <a
                            class="reference-link"
                            href="llms.txt"
                            rel="alternate"
                            type="text/markdown"
                            >llms.txt</a
                        >
                        <a
                            class="reference-link"
                            href="profile.json"
                            rel="alternate"
                            type="application/ld+json"
                            >profile.json</a
                        >
                    </nav>
